.App {
  text-align: center;
}

body{
  font-family: sans-serif;
  letter-spacing: 0.7px;
  font-size: 16px;
  font-weight: 400;
  /* background-color: rgb(250,250,250); */
}

html {
  overflow-y: scroll;
}

.right-panel{
  text-align: center;
  padding-top: 1rem;
}
/* 
.right-panel a{
  padding: 7px 12px;
  border-radius: 18px;
  margin-left: 1rem;
} */

.adjust{
  /* margin-left: 10px !important; */
  width: 100% !important;
  padding: 1.2rem 10px 1.2rem 0.75rem;
}

p{
  font-size: 0.9rem;
  margin-bottom: 0.4rem !important;
}

.paddl{
  padding-left: 3px !important; 
}

.paddr{
  padding-right: 3px !important;
}

hr{
  margin: 3px 0 3px !important;
}

.loading-container{
  padding-top: calc(25% - 185px);
  padding-bottom: calc(25% - 185px);
}

.loading-container img{
  width: 30px;
  height: 30px;
}

.form-control:focus {
  border-color: #6265e4 !important;
  box-shadow: 0 0 2px rgba(98, 101, 228, 1) !important;
}

/* .form-control-sm:focus {
  border-color: #6265e4 !important;
  box-shadow: 0 0 2px rgba(98, 101, 228, 1) !important;
} */

.error-container img{
  width: 30rem;
  height: 30rem;
}

.btn{
  border-radius: 1.5rem !important;
  padding-left: 0.8rem !important;
  padding-right: 0.8rem !important;
}

.btn-sm{
   border-radius: 0.95rem !important;
  padding: 0.3rem 0.65rem !important;
}

.jodit-container:not(.jodit_inline){
  /* border: 0 !important; */
}


.adjust{
  margin: 0 !important;
}

@media (min-width: 576px){
  .adjust{
    /* margin-left: 2.5% !important;
    width: 95% !important; */
    padding: 1.2rem 2.5% 1.2rem 2.5%;
  }
  
  .right-panel{
    text-align: right;
    padding-top: 0;
  }
}

@media (min-width: 768px){
  .adjust{
    /* margin-left: 10% !important;
    width: 80% !important; */
    padding: 1.2rem 10% 1.2rem 10%;
  }
}

@media (min-width: 992px){
  .adjust{
    /* margin-left: 12.5% !important;
    width: 75% !important; */
    padding: 1.2rem 12.5% 1.2rem 12.5%;
  }
}

@media (min-width: 1200px){
  .adjust{
    /* margin-left: 15% !important;
    width: 70% !important; */
    padding: 1.2rem 15% 1.2rem 15%;
  }
}

@media (min-width: 1300px){
  .adjust{
    /* margin-left: 17.5% !important;
    width: 65% !important; */
    padding: 1.2rem 17.5% 1.2rem 17.5%;
  }
}



.navbar-nav{
  margin-left: 0 !important;
}