.App {
  text-align: center;
}

body{
  font-family: sans-serif;
  letter-spacing: 0.7px;
  background-color: rgb(250,250,250);
}

.right-panel{
  text-align: center;
  padding-top: 1rem;
}

.right-panel a{
  background: rgb(220,220,220);
  padding: 7px 12px;
  border-radius: 18px;
  color: black;
  margin-left: 1rem;
}

.adjust{
  margin-left: 10px !important;
  width: calc(100% - 20px) !important;
  padding: 1.2rem 0.75rem 1.2rem 0.75rem;
}


@media (min-width: 576px){
  .adjust{
    margin-left: 2.5% !important;
    width: 95% !important;
  }
  
  .right-panel{
    text-align: right;
    padding-top: 0;
  }
}

@media (min-width: 768px){
  .adjust{
    margin-left: 10% !important;
    width: 80% !important;
  }
}

@media (min-width: 992px){
  .adjust{
    margin-left: 12.5% !important;
    width: 75% !important;
  }
}

@media (min-width: 1200px){
  .adjust{
    margin-left: 15% !important;
    width: 70% !important;
  }
}

@media (min-width: 1300px){
  .adjust{
    margin-left: 17.5% !important;
    width: 65% !important;
  }
}



.navbar-nav{
  margin-left: 0 !important;
}