.publications-container .carousel-indicators{
  display: none;
}

.publication-home-card .card-body .card-title{
  display: inline;
  vertical-align: top;
}

.publication-home-card{
  background-color: rgba(0,0,0,.1);
  box-shadow: 1px #95ecc8;
  overflow: hidden;
}