.publications-container .carousel .carousel-inner .carousel-item {
  /* height: 200px; */
}

.publications-container{
  /* background-color: #85DCB8; */
}

.publication-home-card .card-body .card-title{
  display: inline;
  vertical-align: top;
}

.publication-home-card{
  background-color: rgba(0,0,0,.1);
  box-shadow: 1px #95ecc8;
  overflow: hidden;
}