

#title h5,
#title p{
    display: inline;
    vertical-align: top;
}

.speakers{
    display: flex;
    justify-content: space-between;
}


.speakers > p{
    margin-bottom: 0;
}

.speakers > a{
    max-height: 20px;
}
