

.title-box {
    display: flex;
    vertical-align: top;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}

.title-box > h5,p{
    margin: 0;
    margin-right: 5px;
    padding: 0;
}
.speakers{
    display: flex;
    justify-content: space-between;
}


.speakers > p{
    margin-bottom: 0;
}

.speakers > a{
    max-height: 20px;
}

.event-title{
    /* max-width: 75%; */
    /* font-size: 0.85em; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
