.eventSpace .card {
    background-color: rgb(255, 255, 255);
}

.eventSpace .card:hover {
    border-color: rgb(196, 192, 192);
    background-color: rgb(248 249 251);
    cursor: pointer;
}

#link:hover {
    color: rgb(214, 81, 29);
    cursor: pointer;
}

.card-title{
    /* width: 325px;
    font-size: 0.85em; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}