.admin-container .slider-card:hover{
    background-color: rgba(240,240,240,.7);
    cursor: pointer;
}
.admin-container .slider-card-in{
    border: 0 !important;
    background-color: transparent;
}

.form-control-lg{
    font-size: 15px !important;
}

.admin-container .modal-content{
    text-align: center;
}

.admin-container .actual-card img{
    height:100px;
    width: 150px;
}

.admin-container .actual-card .card-body{
    width: calc(100% - 150px);
}

.admin-container ul{
    list-style-type: none;
    padding-left:0 ;
    margin-left: 0;
}