.footer{
    padding: 30px 0 30px 0;
    background-color: rgba(240,240,240,.8);
    border-top: solid 1px rgba(220,220,220,.8);

}

.footer .input-group button{
    border-radius: 0 !important;
    border-end-end-radius: 0.375rem !important;
    border-top-right-radius: 0.375rem !important;
}
