.carousel .carousel-inner .carousel-item {
    position: relative;
    height: calc(var(--module-height) + 10vh);
    text-align: center;
}

.carousel-caption{
    position: relative;
    left: 0;
    top: calc(0rem - var(--module-height));
    z-index: 10;
    color: white;
}

.carousel-caption a{
    color: #efefef;
}

.carousel-caption a:hover{
    text-decoration: underline;
}

html{
    --module-height:60vh;
}