<!DOCTYPE html>
<html lang="en">

<body
    style="background-color: #f5f5f5; font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; color: #333; padding: 0; margin: 0;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
        <tr>
            <td style="background-color: #fff; padding: 20px;">
                <img style="border-radius:8px; width:36px;height:36px"
                    src="https://drive.google.com/uc?expert=view&id=159Lqf-Iqp-jjh3f5lcfkZzYGET0DODfY" />
                <h1 style="font-size: 28px; color: #333; margin: 0 0 20px;">
                    <%= name %>
                </h1>

                <p style="margin: 0 0 20px;">We would like to inform you of a new Blog has been
                    added to our website. You may visit the following link for more information:
                <div style="display:flex;justify-content: center;">
                    <a href=<%= link %>
                        style="color:white;background-color:black;text-decoration:none;padding:10px 20px;border-radius:8px;">Click
                        here</a>
                </div>
                </p>

                <p style="margin: 0 0 20px;">Please do not hesitate to contact us for help or incase of queries at <a
                        href="mailto:aiclub@nitc.ac.in">aiclub@nitc.ac.in</a></p>
                <p>Regards <br> AI CLUB </p>

            </td>
        </tr>
        <tr>
            <td style="background-color: #333; color: #fff; font-size: 12px; padding: 10px; text-align: center;">
                Connect us on
                <br>
                <a href="https://www.instagram.com/aiclub_nitc/" style="color:white;"><img
                        src="https://drive.google.com/uc?expert=view&id=1KwEkraML4YabZuSIW3nLlzl9xh5sYV4y" /></a>
                &nbsp;
                <a href="https://in.linkedin.com/company/ai-club-nitc" style="color:white;"><img
                        src="https://drive.google.com/uc?expert=view&id=1NgnSrkIBJ7x-sDlt01c30z2jJWEcCw70" /></a>
                &nbsp;
                <a href="mailto:aiclub@nitc.ac.in" style="color:white;"><img
                        src="https://drive.google.com/uc?expert=view&id=1DTdJr2PVFBv_dh2d7OT4DHCnK83ydAuR" /></a>
                &nbsp;
                <a href="https://www.youtube.com/@mrai2039" style="color:white;"><img
                        src="https://drive.google.com/uc?expert=view&id=1DZ33kssKq33FIFVELPt_t6rWyPOoiSvP" /></a>
                &nbsp;
                <a href="https://github.com/AI-Club-at-NITC"><img style="background-color:white; border-radius: 10px;"
                        src="https://drive.google.com/uc?expert=view&id=1bFUWEBMmph6vTowEfmoNZS73nHA3jS7O" /></a>
        
                <p style="margin: 0;">You are receiving this email because you have visited our site or asked as about
                    regular updates. If you would not like to receive this email <a href=""
                        style="color:yellow;">unsubscribe</a> here</p>
            </td>
        </tr>
    </table>
</body>

</html>