<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>New Account Creation Notice</title>
  </head>
  <body>
    <header>
      <h1>New Account - AI CLUB</h1>
    </header>
    <main>
      <p>Greeting from AI Club,</p>
      <p>We are happy to inform you that your account has been successfully created! You can now access our club website.</p>
      <p>Your login credentials are as follows:</p>
      <ul>
        <li>Username: <%= username %></li>
        <li>Password: <%= password %></li>
      </ul>
      <p><a href="<%= link %>">Click here</a> to Login and change your account credentials</p>
      <p>Please make sure to keep these credentials safe and secure. If you have any questions or issues, please don't hesitate to contact present AI Club Secretary.</p>
      <p>Best regards,</p>
      <p>AI Club NITC</p>
    </main>
  </body>
</html>
