.inductions-navbar {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.inductions-navbar div {
    font-size: 14px;
}

#main {
    margin: 0 auto;
    width: 1080px;
}

.inductions-navbar .active{
    background-color: transparent !important;
    color: #0d6efd !important;
}

.inductions-navbar .nav-link{
    padding-left: 0 !important;
    padding-right: 1.5rem !important;
}

.heading {
    background-color: aquamarine;
    background-image: url("./aibg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.options {
    display: flex;
    /* background-color: rgb(115, 173, 195); */
    justify-content: space-evenly;

}

a {
    text-decoration: none;
}

.overview {
    display: flex;
}

.sidenav {
    border: 2px solid;
}

.describe {
    border: 2px solid;
    margin: 5px auto;
}

.competition-header {
    position: relative;
}

/* Bottom right text */
.header-text {
    position: absolute;
    bottom: 10%;
    left: 1%;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.overview-container .jodit-editor-border .border-top{
    padding: 0 !important;
}